.header {
    height: 100px;
    border-bottom: 1px solid #ececec;
    .headerInside {
        height: inherit;
        display: flex;
        flex-direction: row;
        align-items: center;
        .logo {
            color: #222;
            width: 165px;
            line-height: 51px;
            background: url(../images/logo.png) no-repeat;
            font-size: 27px;
            font-weight: 300;
            padding-left: 60px;
            span {
                color: #f16d7f;
                font-weight: 400;
            }
        }
        a {
            text-decoration: none;
        }
    }
    .searchWrap {
        display: flex;
        align-items: center;
        height: 40px;
        border: 1px solid #e6e6e6;
        border-radius: 3px;
        overflow: hidden;
        input {
            height: inherit;
            padding: 0 3px;
            border: none;
            outline: none;
        }
        button {
            height: inherit;
            padding: 0 8px;
            border: 0;
            background: none;
            border-left: 1px solid #e6e6e6;
        }
    }
    .searchBrowse {
        height: inherit;
        padding: 12px;
        font-size: 14px;
        color: #222222;
        background-color: #f9f9f9;
        box-sizing: border-box;
        border-right: 1px solid #e6e6e6;
    }
    .headerCart {
        margin-left: auto;
        margin-right: 25px;
    }
    .accountBtn {
        padding: 15px;
        background-color: #f16d7f;
        color: white;
        border: none;
    }
}